<!-- Charts -->
<%= render 'shared/charts' %>
<hr>


<div class="container-fluid">
  <div class="row">
  <!-- Projects List -->
    <%= render 'shared/latest_projects' %>

  <!-- Tickets List -->
    <%= render 'shared/latest_tickets' %>
  </div>
</div>
<%= javascript_pack_tag 'dashboard_charts' %>
