<div class="container">
  <h1 class='text-capitalize'>Your projects</h1>

  <table class='table'>
    <thead class='thead-light text-uppercase'>
      <tr>
        <th>Project Name</th>
        <th>Start Date</th>
        <th>Target End Date</th>
        <th>Open Tickets</th>
      </tr>
    </thead>
    <% @projects.each do |p| %>
    <tbody class='table-striped'>
      <tr>
        <td><%= link_to p.name, project_path(p.id), class: 'text-decoration-none' %></td>
        <td><%= p.start_date %></td>
        <td><%= p.target_end_date %></td>
        <td><%= @open_tickets.size %></td>
      </tr>
    <% end %>
    </tbody>

  </table>
</div>