<div class="container">
  <h1 class='text-capitalize'>Your projects</h1>

  <table class='table'>
    <thead class='thead-light text-uppercase'>
      <tr>
        <th>Project Name</th>
        <th>Description</th>
        <th>Open Tickets</th>
        <th></th>
      </tr>
    </thead>
    <% @projects.each do |p| %>
    <tbody class='table-striped'>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.description %></td>
        <td><%= @open_tickets.size %></td>
        <td>
          <%= link_to project_path(p.id), class: 'btn-sm btn-secondary btn-icon-split text-decoration-none' do %>
            <div class="icon">
              <div class="fas fa-info-circle"></div>
            </div>
            <div class="text">Details</div>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>

  </table>
</div>